@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #2ceaa3, #7cfef0);
}

main{
    border-radius: 20px;
    padding: 15px;
    margin: auto;
    width: 800px;
    background-color: white;
}

h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #2a6041;
}

h2{
    font-family: 'Press Start 2P', cursive;
    color: #28965a;
}

p{
    text-align: center;
}

a{
    color: #2a6041;
}